<section class="hero-wrap js-fullheight" data-stellar-background-ratio="1.5"> <!-- Video Parellex -->
    <div class="view" style="background-image: none; z-index: 0; height: 100vh">   
        <div class="mask rgba-white-light">
          <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
              <div class="col-md-12 ftco-animate pb-5 mb-3 text-center">
                <h1 class="mb-3 bread text-shadow">TIBCERT  Report</h1>
                <p class="breadcrumbs">Strengthening security and building technical excellence of Tibetan organizations </p>
              </div>
            </div>
          </div>
          <div class="video-parallax">
            <video class="video-parall" autoplay  muted loop playsinline>
              <source  loop src="images/globe.mp4" type="video/mp4">
                <source  loop src="images/globe.ogg" type="video/ogg">
              </video>
          </div>    
        </div>
    </div>
  </section>