---
layout: default
title: TIBCERT
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    {% include navbar.html %}

  {% include slider.html %}

  <!-- I. Introduction  -->
  <section>
    <div class="container">
      <div class="row">
        {% for post in site.posts %}
         <!--
        <div class="col-md-8 heading-section text-center ftco-animate">
         
            <h1 class="big big-2" >{{ post.title }}</h1>
            <h2 class="mb-4">{{ post.title }}</h2>
        </div>
      -->
       <div class="col-lg-8 ">
                  {{post.content}}        
      </div>
        {% endfor %}
        <div class="col-lg-4 sidebar ftco-animate ">
          <!-- sidebar  start -->
          <div class="sidebar-box sticky">   
              <caption><h3 class="ftco-section"><u><b>Table of Cotents</b></u></h3></caption>
              <ul type="I" class="level1">
               <li><a href="#introduction">IntroductiFon</a></li>
               <li><a href="#the-tibet-movement-goes-online">The Tibet Movement Goes Online</a></li>
               <li><a href="#early-digital-threats-against-the-community">Early Digital Threats Against The Community</a></li>
               <li><a href="#on-the-front-lines">On the Frontlines</a>
                 <ul class="level2">
                   <li><a href="#a-movement-under-surveillance"> A Movement Under Surveillance</a>
                   <div>
                    <ul class="level3">
                      <li><a href="#surveillance-harassment-and-the-2008-beijing-olympics">Surveillance, Harassment,& The 2008 Beijing Olympics</a></li>
                     <li><a href="#spying-and-self-immolations-in-tibet">Spying & Self Immolations In Tibet</a></li>
                      <li><a href="#spying-on-the-tibetan-movement-during-covid">Spying On The Tibetan Movement During COVID</a></li>
                    </ul>
                   </div>
                  </li>
                  <li><a href="#impersonation-and-trust">Impersonation & Trust</a></li>
                  <li><a href="#poisoning-the-well">Poisoning The Well</a></li>
                  <li><a href="#attempts-to-silence-the-voice-of-tibet">Attempt To Silence The Voice Of Tibet</a></li>
                  <li><a href="#the-spy-in-your-pocket">The Spy In Your Pocket</a>
                    <ul class="level3">
                      <div>
                       <li> <a href="#mobile-threats-emerge">Mobile Threats Emerge</a></li>
                      <li><a href="#one-click-away-from-compromise">One Click Away From Compromise</a></li>
                      </div>
                    </ul>
                  </li>
                 </ul>
               </li>
               <li><a href="#the-community-responds">The Community Responds</a></li>
             </ul>
           </div>
           <!-- sidebar     end-->  
        </div>
      </div>
    </div>
  </section>
{% include footer.html %}
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
 
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>

   <script src="js/aos.js"></script>
  <script src="js/main.js"></script>
   <script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
});
    $(document).ready(function(){
      $("this").click(function(){
        $("p").toggle();
      });
  });
   </script>

  </body>
</html>