---
layout: default
title: TIBCERT
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    {% include navbar.html %}

  {% include slider.html %}

  <!-- I. Introduction  -->
  <section>
    <div class="container">
      <div class="row">
        {% for post in site.posts %}
         <!--
        <div class="col-md-8 heading-section text-center ftco-animate">
         
            <h1 class="big big-2" >{{ post.title }}</h1>
            <h2 class="mb-4">{{ post.title }}</h2>
        </div>
      -->
       <div class="col-lg-8 ">
                  {{post.content}}        
      </div>
        {% endfor %}
        <div class="col-lg-4 sidebar ftco-animate ">
          <!-- sidebar  start -->
          {% include toc-sidebar.html %}
           <!-- sidebar     end-->  
        </div>
      </div>
    </div>
  </section>
{% include footer.html %}
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
 
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>

   <script src="js/aos.js"></script>
  <script src="js/main.js"></script>
   <script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
});
    $(document).ready(function(){
      $("this").click(function(){
        $("p").toggle();
      });
  });
   </script>
   <script>
    $('.nav-item').click(function() {
    $('.collapse').collapse('hide');
  });
  </script>

  </body>
</html>